paper/*
optim_placement/simulations/pressure.mat
optim_placement/data_mat/results.mat
Johansen/data/*
data_100_100_11/perm_1000.csv
data_100_100_11/perm_272.csv
data_100_100_11/VE_*
data_100_100_11/states/*
data_100_100_11/well_coords/*
data_100_100_11/well_rates/*
data_npy_100_100_11/*