paper/*
data/*

synthetic2D/**/*.mat
synthetic2D/**/*.npy
synthetic2D/**/*.npz

optim_placement/simulations/pressure.mat
optim_placement/data_mat/results.mat

Johansen/**/*.mat
Johansen/**/*.npy
Johansen/**/*.npz
Johansen/data/*
Johansen/data_100_100_11/perm_1000.csv
Johansen/data_100_100_11/perm_272.csv

MiONet.pth
FTMioNet.pth

SlopingAquifer/**/*.mat
SlopingAquifer/**/*.npy
SlopingAquifer/**/*.npz
SlopingAquifer/rock/perm_160x160x5_n159_b*

SlopingAquiferSmall/**/*.mat
SlopingAquiferSmall/**/*.npy
SlopingAquiferSmall/**/*.csv
SlopingAquiferSmall/pix2vid-v2.keras
